<div class="absolute left-0 top-0 w-full h-full rotate-[12deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[24deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[36deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[48deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[60deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[72deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[84deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[96deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[108deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[120deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[132deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[144deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[156deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[168deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[180deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[192deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[204deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[216deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[228deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[240deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[252deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[264deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[276deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[288deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[300deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[312deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[324deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[336deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[348deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>

<div class="absolute left-0 top-0 w-full h-full rotate-[360deg]">
  <span class="block w-0.5 h-3 mx-auto bg-zinc-50 rounded-full"></span>
</div>
