@import "tachyons/_normalize.css";
@import "tachyons/_spacing.css";
@import "tachyons/_position.css";
@import "tachyons/_media-queries.css";
@import "tachyons/_coordinates.css";
@import "tachyons/_font-family.css";
@import "tachyons/_type-scale.css";
@import "tachyons/_line-height.css";
@import "tachyons/_font-style.css";
@import "tachyons/_text-align.css";
@import "tachyons/_colors.css";
@import "tachyons/_skins.css";
@import "tachyons/_rotations.css";
@import "tachyons/_negative-margins.css";

.roboto {
  font-family: 'Roboto', sans-serif;
}

.script {
  font-family: 'Berkshire Swash', fantasy;
  font-style: italic;
}

.code {
  font-family: 'Roboto Mono', monospace;
}
