@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "neuemontreal";
  font-style: normal;
  font-display: optional;
  src: url(/fonts/PPNeueMontreal-Regular.woff2) format("woff2");
}
