---
layout: base.html
title: Hannu Oksa
---

<div class="md:w-5/6 md:ml-auto min-h-screen flex flex-col flex-nowrap p-2 md:py-3 lg:py-5">
  <header class="relative">
    <div class="anim-spinner w-16 pt-16 mb-2 md:mb-0 md:absolute md:-left-[20%]">
      {% include "spinner1.html" %}
    </div>
    <h1 class="anim-para mb-1.5 text-3xl leading-extra-tight text-gray-50">Hannu Oksa</h1>
    <div class="lg:flex mb-8 sm:mb-12 pt-0.5 text-3xl leading-extra-tight text-gray-50">
      <div class="anim-border w-full lg:w-4/12 h-px bg-gray-300"></div>
      <p class="anim-para mb-3 sm:mb-4 lg:w-6/12">
        I'm an experienced designer helping teams of all sizes build digital
        products.
      </p>
    </div>
  </header>
  <main class="grow flex flex-col flex-nowrap">
    <div
      class="relative lg:flex mb-8 sm:mb-12 text-3xl pt-0.5 hyphens-auto leading-extra-tight text-w1blue-200  selection:bg-w1blue-200 selection:text-w1blue-800">
      <div class="anim-spinner w-16 pt-16 my-2 md:my-0 md:absolute md:-left-[20%]">
        {% include "spinner3.html" %}
      </div>
      <div class="anim-border w-5/6 lg:w-3/12 h-8 bg-gradient-to-b from-w1blue-300 to-w1blue-900"></div>
      <p class="anim-para mb-3 sm:mb-4 lg:w-3/6 lg:pt-8">
        <span class="text-w1blue-50 selection:text-w1blue-900">I work across the product lifecycle.</span> From strategy and creative direction
        to user experience design and iterative delivery with engineers. From initial product discovery to building and
        launching your MVP, and beyond.
      </p>
    </div>
    <div
      class="relative lg:flex grow mb-20 sm:mb-24 text-3xl pt-0.5 hyphens-auto leading-extra-tight text-w1green-400 selection:bg-w1green-400 selection:text-w1green-800">
      <div class="anim-spinner w-16 pt-16 my-2 md:my-0 md:absolute md:-left-[20%]">
        {% include "spinner2.html" %}
      </div>
      <div class="anim-border w-7/12 lg:w-4/12 h-3 bg-gradient-to-b from-w1green-300 to-w1green-900"></div>
      <p class="anim-para mb-3 sm:mb-4 lg:w-6/12 lg:pt-3">
        <span class="text-w1green-50">The best work happens in teams.</span> I assume the role of most impact depending
        on your team size and product maturity. I can be the first designer owning the end-to-end experience, or provide
        design and product leadership to a larger, established team.
      </p>
    </div>
    <div class="lg:flex relative">
      <div class="anim-spinner w-16 pt-16 my-2 md:my-0 md:absolute md:-left-[20%]">
        {% include "spinner4.html" %}
      </div>
      <div class="anim-border w-full lg:w-3/12 h-px bg-gray-300"></div>
      <div class="lg:w-6/12 lg:mr-[8.333%] pt-0.5 text-sm hyphens-auto leading-snug text-gray-100">
        <p class="anim-para mb-2">
          From startups to enterprise organizations, I've been lucky to work with many great teams over the years,
          including:&nbsp;
          {%- for client in clients -%}
          {% if forloop.last == true %}and {{ client }}.{% else %}{{ client }},&nbsp;{% endif %}
          {%- endfor -%}
          </ul>
        <p class="anim-para">I work as a product design director at <span class="italic">Reaktor</span>. I'm currently open to select
          freelance projects.</p>
      </div>
      <div
        class="anim-border lg:w-2/12 mt-1 lg:mt-0 pt-1 text-sm hyphens-auto leading-snug border-t lg:border-t-0 border-dotted text-gray-100 border-gray-300">
        <ul class="anim-list flex flex-wrap">
          {%- for sociallink in sociallinks -%}
          <li class="mr-0.5 mb-0.5"><a href="{{ sociallink.link }}"
            class="border border-gray-300 hover:border-gray-50 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 text-gray-300 hover:text-gray-900 focus:text-gray-900 py-1 px-2 rounded-full block transition-colors">{{ sociallink.name }}</a>
          </li>          
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </main>
</div>